<%= form_for [@question, @answer] do |f| %>

  <% if @answer.errors.any? %>
    <div id="error_explanation-answers">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="answer-body">
    <%= f.label :body, 'Answer', class: 'answer-body label' %>
    <div class="answer-body input">
      <%= f.text_area :body %>
    </div>
  </div>

  <div class="answer-username">
    <%= f.label :user, "Username", class: 'answer-username label' %>
    <div class="answer-username input">
      <%= f.text_field :user %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Submit', class: 'button' %>
  </div>
<% end %>
